# Build and Release Folders
.idea
dist
build
__pycache__
main.spec
commons/__init__.py
commons/__pycache__
Pages/__pycache__

# Security Files and Folders
license.dat
data.db
models
key.key

# Ignored folders
FaceAI Media